body {
}


.tableFixHead {
    border: 1px solid black;
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
}

table, th, td {
    border: 1px solid black;
    text-align:center;
}

tr:nth-child(even) {
    background-color: lightblue;
}

.ScoreUpdate {
    text-align: center;
}
