@page "/get_latest_odds"
@using Football_Two.Services

@inject GetOdds oddsService

<h5>GetLatestOdds</h5>

<div>
    <button class="btn btn-primary" @onclick="GetOddsDemo">Get Odds</button>
</div>

@code {


    private async void GetOddsDemo()
    {
        await oddsService.GetLatestOdds();

    }
}
